# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode / Swift
build/
DerivedData/
*.app
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# C# / .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.userprefs
TestResults/
*.log

# Node
node_modules/
npm-debug.log

# Secrets and API Keys
*.env
.env*
secrets.json
keys.plist
*secret*
*api_key*
