<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>SpeechX</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.speechx.app</string>
	<key>CFBundleName</key>
	<string>SpeechX</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.5.0</string>
	<key>CFBundleVersion</key>
	<string>17</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>SpeechX needs Accessibility access to inject transcribed text.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>SpeechX needs microphone access to transcribe your speech.</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://www.vocallabs.ai/releases/speechx/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>sgKFJaVbCUqpJnWvIUSxGuhvrj11ndWuIlgGqNuOXf4=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
